# Revolut Customer Drop Off Analysis

In this document I will analyse data provided by Revolut to determine why customer drop offs increased and what is the main reason for this. 

I will be using two data sheets `facial similarity report` & `doc` reports.

1. `facial similarity report` = Facial Similarity checks

2. `doc`                      = Document checks

Using mostly Pandas for data maniuplation and document viewing plus my own analytical knowledge by the end of the report the reason behind the drop offs should become clear.

In [1]:
import pandas as pd
import numpy as np
import warnings; warnings.simplefilter('ignore')

## Section 1. 
### Initial inspection

In this section the csv's will be loaded in using pandas and first inspection of the data will be completed. 

The first step is to import the CSV files into DataFrames

In [2]:
# Import facial checks
face = pd.read_csv("facial_similarity_reports.csv", index_col=0)
face.head(20)

,user_id,result,face_comparison_result,created_at,facial_image_integrity_result,visual_authenticity_result,properties,attempt_id
0,ab23fae164e34af0a1ad1423ce9fd9f0,clear,clear,2017-06-20T23:12:58Z,clear,consider,{},050a0596de424fab83c433eaa18b3f8d
1,15a84e8951254011b47412fa4e8f65b8,clear,clear,2017-06-20T23:16:04Z,clear,clear,{},f69c1e5f45a64e50a26740b9bfb978b7
2,ffb82fda52b041e4b9af9cb4ef298c85,clear,clear,2017-06-20T17:59:49Z,clear,clear,{},f9f84f3055714d8e8f7419dc984d1769
3,bd4a8b3e3601427e88aa1d9eab9f4290,clear,clear,2017-06-20T17:59:39Z,clear,clear,{},10a54a1ecf794404be959e030f11fef6
4,f52ad1c7e69543a9940c3e7f8ed28a39,clear,clear,2017-06-20T18:08:09Z,clear,clear,{},1f320d1d07de493292b7e0d5ebfb1cb9
5,6af503bb8b7d4054b13b4206ab4d30ff,clear,clear,2017-06-20T18:08:50Z,clear,clear,{},40475bea718e4eefa1681badad872a63
6,c7065821137c4e88be2d8d48e5ae0ed5,clear,clear,2017-06-20T18:11:36Z,clear,clear,{},e06eaa9e57fb4a959f3da2d8e6bd467c
7,c495a07929b344ed9da41d7b9eb7a6ea,clear,clear,2017-06-20T18:18:12Z,clear,clear,{},676eb988814c49c794c5002865c76379
8,b9d6d9645a714b0dabfdcc5048a29e57,clear,clear,2017-06-20T18:19:39Z,clear,clear,{},63eb06e3400e4b23b1d8c1794e8eaad4
9,bf0fc3bd3c2a4c80be34eb096717bc81,clear,clear,2017-06-20T18:30:27Z,clear,clear,{},7c1ff498161441cab0567e8b8ec3f3b6
10,aae2e4b64d824c9cb309de6fe2ce7d29,clear,clear,2017-06-20T18:28:54Z,clear,clear,{},8d8d0ddf715f4ec3b822029aeae2e5b1
11,3c02c5a120364ca7a48a058ddfbd1d13,clear,clear,2017-06-20T18:40:08Z,clear,clear,{},c2d87d0cfb7d4934b996c6bd49b9f3a5
12,49d64fbb7eab4c868c7b1d8864135b17,clear,clear,2017-06-20T18:44:37Z,clear,clear,{},c885875374854c1f86e64e0b5ac398cb
13,b41c2602c9144af1b2c00a42b8986138,consider,NaN,2017-06-20T18:54:08Z,consider,clear,{},99f81c8f4a294249b5f51ab541de0283
14,787ab881fbe94f1abe292e4e7d25b651,clear,clear,2017-06-20T18:54:53Z,clear,clear,{},c44a1aeba01045dc8583fe9891cf067e
15,e3657a99bd97408c8d01ded9a48a4baf,clear,clear,2017-06-20T18:57:48Z,clear,clear,{},ebecf2e44a7a4daf978b4b45b67d1c38
16,74d2a3101a714e8896e7ee6c57922625,clear,clear,2017-06-20T19:03:32Z,clear,clear,{},84dc0f2097af4f91b692cabd3c648927
17,b20147d91fdf4ac289ddd80c4be9716a,clear,clear,2017-06-20T19:00:27Z,clear,clear,{},2db4bd5ed28948af858881e5e261bc2d
18,b20147d91fdf4ac289ddd80c4be9716a,clear,clear,2017-06-20T19:00:27Z,clear,clear,{},aa906e5f7be04ebca1d79091f5294f58
19,0d1a0c42b610426480c83ee3c06f7886,clear,clear,2017-06-20T19:06:18Z,clear,clear,{},ca2eec0bf9ae4bfb8605ad3a72dc2ef1

In [3]:
# Import Document checks
doc = pd.read_csv("doc_reports.csv", index_col=0)
doc.head()

,user_id,result,visual_authenticity_result,image_integrity_result,face_detection_result,image_quality_result,created_at,supported_document_result,conclusive_document_quality_result,colour_picture_result,data_validation_result,data_consistency_result,data_comparison_result,attempt_id,police_record_result,compromised_document_result,properties,sub_result
0,ab23fae164e34af0a1ad1423ce9fd9f0,consider,consider,clear,clear,clear,2017-06-20T23:12:57Z,clear,NaN,NaN,clear,clear,NaN,050a0596de424fab83c433eaa18b3f8d,clear,NaN,"{'gender': 'Male', 'nationality': 'IRL', 'docu...",caution
1,15a84e8951254011b47412fa4e8f65b8,clear,clear,clear,clear,clear,2017-06-20T23:16:04Z,clear,NaN,NaN,clear,NaN,NaN,f69c1e5f45a64e50a26740b9bfb978b7,clear,NaN,"{'gender': 'Female', 'document_type': 'driving...",clear
2,ffb82fda52b041e4b9af9cb4ef298c85,clear,clear,clear,clear,clear,2017-06-20T17:59:49Z,clear,NaN,NaN,clear,clear,NaN,f9f84f3055714d8e8f7419dc984d1769,clear,NaN,"{'gender': 'Male', 'nationality': 'ITA', 'docu...",clear
3,bd4a8b3e3601427e88aa1d9eab9f4290,clear,clear,clear,clear,clear,2017-06-20T17:59:38Z,clear,NaN,NaN,clear,clear,NaN,10a54a1ecf794404be959e030f11fef6,clear,NaN,"{'gender': 'Male', 'issuing_date': '2007-08', ...",clear
4,f52ad1c7e69543a9940c3e7f8ed28a39,clear,clear,clear,clear,clear,2017-06-20T18:08:09Z,clear,NaN,NaN,clear,clear,NaN,1f320d1d07de493292b7e0d5ebfb1cb9,clear,NaN,"{'gender': 'Male', 'nationality': 'POL', 'docu...",clear

Upon initial inspection it is obvious there is a lot of redundant data, namely, rows that have cleared checks and were approved. These are shown by the column `result` with an entry of `clear` so these will be removed at a later date.

There is also a lot of missing/unknown data which needs to cleaned up by changing the values to `na`

Currently there is too much data in one DataFrame to make any real conclusions, but upon first inspection i can see that there is a correlation between the `sub_result` and `result` columns.

#### Replace missing data

The next stage is to replace missing data with a value of `na` this is to help identify the missing values later

In [4]:
face.isnull()

,user_id,result,face_comparison_result,created_at,facial_image_integrity_result,visual_authenticity_result,properties,attempt_id
0,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...
181987,False,False,False,False,False,False,False,False
181988,False,False,False,False,False,False,False,False
181989,False,False,False,False,False,False,False,False
181990,False,False,False,False,False,False,False,False
181991,False,False,False,False,False,False,False,False

In [5]:
doc.isna()

,user_id,result,visual_authenticity_result,image_integrity_result,face_detection_result,image_quality_result,created_at,supported_document_result,conclusive_document_quality_result,colour_picture_result,data_validation_result,data_consistency_result,data_comparison_result,attempt_id,police_record_result,compromised_document_result,properties,sub_result
0,False,False,False,False,False,False,False,False,True,True,False,False,True,False,False,True,False,False
1,False,False,False,False,False,False,False,False,True,True,False,True,True,False,False,True,False,False
2,False,False,False,False,False,False,False,False,True,True,False,False,True,False,False,True,False,False
3,False,False,False,False,False,False,False,False,True,True,False,False,True,False,False,True,False,False
4,False,False,False,False,False,False,False,False,True,True,False,False,True,False,False,True,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
181987,False,False,False,False,False,False,False,False,True,True,False,False,True,False,False,True,False,False
181988,False,False,False,False,False,False,False,False,True,True,False,True,True,False,False,True,False,False
181989,False,False,False,False,False,False,False,False,True,True,False,False,True,False,False,True,False,False
181990,False,False,False,False,False,False,False,False,True,True,False,False,True,False,False,True,False,False
181991,False,False,False,False,False,False,False,False,True,True,False,False,True,False,False,True,False,False

In [6]:
face_edit = face.replace(np.nan,'na', regex=True)
face_edit

,user_id,result,face_comparison_result,created_at,facial_image_integrity_result,visual_authenticity_result,properties,attempt_id
0,ab23fae164e34af0a1ad1423ce9fd9f0,clear,clear,2017-06-20T23:12:58Z,clear,consider,{},050a0596de424fab83c433eaa18b3f8d
1,15a84e8951254011b47412fa4e8f65b8,clear,clear,2017-06-20T23:16:04Z,clear,clear,{},f69c1e5f45a64e50a26740b9bfb978b7
2,ffb82fda52b041e4b9af9cb4ef298c85,clear,clear,2017-06-20T17:59:49Z,clear,clear,{},f9f84f3055714d8e8f7419dc984d1769
3,bd4a8b3e3601427e88aa1d9eab9f4290,clear,clear,2017-06-20T17:59:39Z,clear,clear,{},10a54a1ecf794404be959e030f11fef6
4,f52ad1c7e69543a9940c3e7f8ed28a39,clear,clear,2017-06-20T18:08:09Z,clear,clear,{},1f320d1d07de493292b7e0d5ebfb1cb9
...,...,...,...,...,...,...,...,...
181987,c7f99ee763bf45d289019c6ac2cbd919,clear,clear,2017-06-20T22:25:53Z,clear,clear,{},72a2cccc9e9942deb5274a16536bf2d0
181988,8b47d72c363e4591861f523dd7487f20,clear,clear,2017-06-20T22:27:40Z,clear,clear,{},8c83017191204a3887c2d47ca2d998ce
181989,3d16e02c245a4f1a8a76662ad933d5c4,clear,clear,2017-06-20T22:25:59Z,clear,clear,{},bfea35bcb6a940118ca5816cd8ffcae7
181990,65c49a09d299486091b6586487679b87,clear,clear,2017-06-20T22:35:41Z,clear,clear,{},9190cf28b35b425083bdb41e121822fe
181991,f0a1721abb544ea4896cd53716b3fd2b,clear,clear,2017-06-20T22:50:59Z,clear,clear,{},da25f83fc32d44888187c74c220e2513

In [7]:
doc_edit = doc.replace(np.nan,'na', regex=True)
doc_edit

,user_id,result,visual_authenticity_result,image_integrity_result,face_detection_result,image_quality_result,created_at,supported_document_result,conclusive_document_quality_result,colour_picture_result,data_validation_result,data_consistency_result,data_comparison_result,attempt_id,police_record_result,compromised_document_result,properties,sub_result
0,ab23fae164e34af0a1ad1423ce9fd9f0,consider,consider,clear,clear,clear,2017-06-20T23:12:57Z,clear,na,na,clear,clear,na,050a0596de424fab83c433eaa18b3f8d,clear,na,"{'gender': 'Male', 'nationality': 'IRL', 'docu...",caution
1,15a84e8951254011b47412fa4e8f65b8,clear,clear,clear,clear,clear,2017-06-20T23:16:04Z,clear,na,na,clear,na,na,f69c1e5f45a64e50a26740b9bfb978b7,clear,na,"{'gender': 'Female', 'document_type': 'driving...",clear
2,ffb82fda52b041e4b9af9cb4ef298c85,clear,clear,clear,clear,clear,2017-06-20T17:59:49Z,clear,na,na,clear,clear,na,f9f84f3055714d8e8f7419dc984d1769,clear,na,"{'gender': 'Male', 'nationality': 'ITA', 'docu...",clear
3,bd4a8b3e3601427e88aa1d9eab9f4290,clear,clear,clear,clear,clear,2017-06-20T17:59:38Z,clear,na,na,clear,clear,na,10a54a1ecf794404be959e030f11fef6,clear,na,"{'gender': 'Male', 'issuing_date': '2007-08', ...",clear
4,f52ad1c7e69543a9940c3e7f8ed28a39,clear,clear,clear,clear,clear,2017-06-20T18:08:09Z,clear,na,na,clear,clear,na,1f320d1d07de493292b7e0d5ebfb1cb9,clear,na,"{'gender': 'Male', 'nationality': 'POL', 'docu...",clear
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
181987,c7f99ee763bf45d289019c6ac2cbd919,clear,clear,clear,clear,clear,2017-06-20T22:25:53Z,clear,na,na,clear,clear,na,72a2cccc9e9942deb5274a16536bf2d0,clear,na,"{'gender': 'Female', 'nationality': 'CHN', 'do...",clear
181988,8b47d72c363e4591861f523dd7487f20,clear,clear,clear,clear,clear,2017-06-20T22:27:40Z,clear,na,na,clear,na,na,8c83017191204a3887c2d47ca2d998ce,clear,na,"{'gender': 'Female', 'document_type': 'driving...",clear
181989,3d16e02c245a4f1a8a76662ad933d5c4,clear,clear,clear,clear,clear,2017-06-20T22:25:59Z,clear,na,na,clear,clear,na,bfea35bcb6a940118ca5816cd8ffcae7,clear,na,"{'gender': 'Female', 'nationality': 'GBR', 'do...",clear
181990,65c49a09d299486091b6586487679b87,clear,clear,clear,clear,clear,2017-06-20T22:35:40Z,clear,na,na,clear,clear,na,9190cf28b35b425083bdb41e121822fe,clear,na,"{'gender': 'Male', 'nationality': 'PRT', 'docu...",clear
181991,f0a1721abb544ea4896cd53716b3fd2b,clear,clear,clear,clear,clear,2017-06-20T22:50:59Z,clear,na,na,clear,clear,na,da25f83fc32d44888187c74c220e2513,clear,na,"{'gender': 'Female', 'nationality': 'GBR', 'do...",clear

## Basic review of documents

In this section I will briefly analyse the results of the work done above to see what else can be derived from looking at the data types and data entries.

`.info()` shows all datatypes and counts for each column

In [8]:
print(face.info())
print(doc.info())

<class 'pandas.core.frame.DataFrame'>
Int64Index: 176404 entries, 0 to 181991
Data columns (total 8 columns):
 #   Column                         Non-Null Count   Dtype
---  ------                         --------------   -----
 0   user_id                        176404 non-null  object
 1   result                         176403 non-null  object
 2   face_comparison_result         166007 non-null  object
 3   created_at                     176404 non-null  object
 4   facial_image_integrity_result  175941 non-null  object
 5   visual_authenticity_result     150290 non-null  object
 6   properties                     176404 non-null  object
 7   attempt_id                     176404 non-null  object
dtypes: object(8)
memory usage: 12.1+ MB
None
<class 'pandas.core.frame.DataFrame'>
Int64Index: 176404 entries, 0 to 181991
Data columns (total 18 columns):
 #   Column                              Non-Null Count   Dtype
---  ------                              --------------   -----
 0   user_id                             176404 non-null  object
 1   result                              176404 non-null  object
 2   visual_authenticity_result          150290 non-null  object
 3   image_integrity_result              176403 non-null  object
 4   face_detection_result               150261 non-null  object
 5   image_quality_result                176403 non-null  object
 6   created_at                          176404 non-null  object
 7   supported_document_result           175900 non-null  object
 8   conclusive_document_quality_result  95217 non-null   object
 9   colour_picture_result               95222 non-null   object
 10  data_validation_result              142974 non-null  object
 11  data_consistency_result             92229 non-null   object
 12  data_comparison_result              2548 non-null    object
 13  attempt_id                          176404 non-null  object
 14  police_record_result                144557 non-null  object
 15  compromised_document_result         45506 non-null   object
 16  properties                          176404 non-null  object
 17  sub_result                          176404 non-null  object
dtypes: object(18)
memory usage: 25.6+ MB
None

In [9]:
# This column '*properties*' will be removed later as it has information that can't be read correctly. 
print(doc['properties'])

0         {'gender': 'Male', 'nationality': 'IRL', 'docu...
1         {'gender': 'Female', 'document_type': 'driving...
2         {'gender': 'Male', 'nationality': 'ITA', 'docu...
3         {'gender': 'Male', 'issuing_date': '2007-08', ...
4         {'gender': 'Male', 'nationality': 'POL', 'docu...
                                ...
181987    {'gender': 'Female', 'nationality': 'CHN', 'do...
181988    {'gender': 'Female', 'document_type': 'driving...
181989    {'gender': 'Female', 'nationality': 'GBR', 'do...
181990    {'gender': 'Male', 'nationality': 'PRT', 'docu...
181991    {'gender': 'Female', 'nationality': 'GBR', 'do...
Name: properties, Length: 176404, dtype: object

In [10]:
print(doc.police_record_result[10:20])
print(doc.result[10:20])

10    clear
11    clear
12      NaN
13    clear
14      NaN
15    clear
16    clear
17    clear
18    clear
19    clear
Name: police_record_result, dtype: object
10    clear
11    clear
12    clear
13    clear
14    clear
15    clear
16    clear
17    clear
18    clear
19    clear
Name: result, dtype: object

My inital thought was that there could be an issue with police checks, as some customers may have previous criminal history which would cause the application to be rejected, however when looking at these two columns I can see this is not the case as some entries with failed police checks were still approved. 

One thing I have noticed that is concistent with the application being rejected is `data_comparison_result`. When looking at the Veritas documentation the description of this column is: 

> Asserts whether data on the document is consistent with data provided by an applicant (either through Veritas’s applicant form or when creating an applicant through the API)

This says to me that one of the reasons why applications are being rejected is due the Documents that are being submitted do not match the information provided by the applicant.

Let's take a look at this further.

## Getting relevant data
### 1. Create two new DataFrames
Here I will create two dataframes:

In this section, the first thing to do is select all the rows with `result` - `consider` as these are the possible rejected applications. Also I created a new dataframe for the value `clear`, this is will help for comparison later.

1. Only rows with the `result` value of `consider`
2. Only rows with the `result` value of `clear`

### 2. Clean up dataframes and remove redundant columns

Here we drop the columns which appear to have no difference in what decission is made or there is too much missing data.

In [11]:
# 1. Create DataFrames
doc_consider = doc_edit.loc[doc_edit['result'] == 'consider']
doc_clear = doc_edit.loc[doc_edit['result'] == 'clear']

# Resetting index to make row selection easier if needed
doc_consider.reset_index(drop=True, inplace=True)
doc_clear.reset_index(drop=True, inplace=True)

# 2. Here we drop columns with little to no relevance
doc_consider.drop(['user_id', 'attempt_id', 'properties', 'created_at', 'image_quality_result', 'image_integrity_result', 'police_record_result', 'face_detection_result', 'supported_document_result', 'conclusive_document_quality_result', 'colour_picture_result', ], axis=1,  inplace=True)
doc_clear.drop(['user_id', 'attempt_id', 'properties', 'created_at', 'image_quality_result', 'image_integrity_result', 'police_record_result', 'face_detection_result', 'supported_document_result', 'conclusive_document_quality_result', 'colour_picture_result', ], axis=1,  inplace=True)

In [12]:
doc_consider.head()

,result,visual_authenticity_result,data_validation_result,data_consistency_result,data_comparison_result,compromised_document_result,sub_result
0,consider,consider,clear,clear,na,na,caution
1,consider,consider,clear,clear,na,na,caution
2,consider,consider,consider,consider,na,na,suspected
3,consider,consider,clear,na,na,na,caution
4,consider,consider,consider,clear,na,na,suspected

Now that we have clean data which is easier to view, we can see from the tables that main cause for customer drop offs is the amount of results yielding `consider` as the result. This appears to happen when one or more of the folowing return `consider`:

* `visual_authenticity_result`
* `data_validation_result`
* `data_consistency_result`

Upon closer inspection the data shows that if only 1/3 returns `consider` then the `sub_result` is `caution`, however if 2 or more return `consider` then the `sub_result` is `suspected`; indicating fraud.

When looking at the data It appears that could be fraudulent activity occuring from these particular accounts as there is normally a `suspected` `sub_result` which when checking veritas documentation indicates towards fraudulant activty. 

The other similarity is that the `sub_result` responds with a `caution` value, again when checking the Documentation this does not strictly mean fraudulant activity is occuring but does indicate that details are missmatched between what the applicant has stated and what the documents provided show. Even tho this is not strictly an indicator of fraud, in past experiences of handling fraudulant data, this is a big key indidcator that this is most likely the case. 

For consistency with my findings below I have created a table showing all clear results and as suspected, they have no consider values for any of the 3 columns which will flag an issue.

<br>
<br>
<br>
<br>

### Solutions

I had to think about this alot as there weren't many solutions for preventing people from attempting to create a fraudulant account, however, not all the drop offs were related to fraud, some were just mismatched documents or errors from the user. These could be rectified by reviewing the the applications that failed as `caution`, these appear to be user error failures and not strictly fraud. By reviewing these applications manually you would be ble to see whether the applicant was genuine or not.